div{
  width: 400px;
  height: 200px;
  border: 5px dashed red;
  margin: 20px auto;


}
.div{
  width: 400px;
  height: 200;
  border: 40px red;
  border-style: dashed;
  margin: 20px auto;
  box-sizing: border-box;

}
